header {
    display: flex;
    border: 2px red solid;
    height: 12vh;
}
.logo img {
    width: 8vw;
    height: 10vh;
    border: 2px blue solid;
}
header nav {
    
}
header nav ul {
    display: flex;
    justify-content: space-around;
}
header nav ul li {
    display: inline;    
}
ul {
    align-items: center;
    border: 2px greenyellow solid;
}